[2019-04-08 19:56] ighosh98 opened #1 "Website Design Specifications"
Change Authors Page: Create a collapsible section for Guest Authors
Change Home Page: Static Home Page. Design an extra page. About Us and links to different sections of the website. Try and customize the thing(add images etc).
Additionally, we need to hide the extra page out from user view. Check and execute it.

[2019-05-20 01:55] ighosh98 opened #2 "Front end Templates"
As discussed, build the templates for the Frontend web pages.

- [x]  Implement Home Page
- [x]  Implement a common template for all sections of the website[Eg: Science Tech, EcoFin, etc.]
- [x] Create a page for contributors as discussed. Combined with About Us and other such information.
- [x] Code Cleanup.
- [ ] Structure the code base properly.
- [x] Implement infinite scrolls wherever necessa

[2019-05-20 01:57] ighosh98 commented on #1
Design finalized. Closing #1

[2019-05-20 01:57] #1 closed, assigned to nobody

[2019-05-20 09:03] HimanshuAgarwal022 commented on #2
I will probably start work tomorrow.
Is there any general idea of how the design should look?
Also, the colour theme.

[2019-05-20 12:33] ighosh98 commented on #2
@HimanshuAgarwal022  Follow the General design ideas as discussed. You have the freedom to tweak color palette. Try using gradient effects. The issue has been updated to reflect the templates that need to be created and related details. Send a combined PR or PR for the separate tasks.

[2019-05-28 12:40] ighosh98 opened #3 "Form for adding articles"
Following features must be implemented:
- [x] Date of Publication
- [x] Name of Author
- [x] Section
- [x] Name of editor
- [x] Main article: You should be able to add text, latex formulas and images at any point in the main article.
- [x] Synopsis(Set an upper limit of 80-90 words[on an avg 8 letter words])[Compulsory field]
- [x] Heading(150 Characters)[Compulsory field]
- [x] Fix the font size,

[2019-05-28 12:51] ighosh98 opened #4 "Form for adding Contributors"
The following Features need to be implemented:
- [x] Contributors must be classified as Guest Authors and Core team members for the writing team.
 - [x] Highlight Section editors and chief editors for the writing team.
 - [x] Highlight Founders
 - [ ] Highlight Guest Authors
- [ ] A form must also allow admin to add members of the backend team.
- [x] All members must have a section on bio.

[2019-05-28 12:57] ighosh98 opened #5 "Create a basic Chatbot for the website"
The interactive chatbot can provide article suggestions to the user.

[2019-05-28 13:02] ighosh98 opened #6 "Strategy Discussion for Suggested Articles Feature"
Develop an article recommender system which :
- [x] Recommends similar articles to the user.
- [x] In the infinite scroll ensures that similar articles are shown one after the other.

[2019-05-29 08:31] HimanshuAgarwal022 commented on #2
all done see the PR.

[2019-05-29 09:21] abhishekspeer opened #13 "Add Requirements.txt"
Make a requirements.txt file at the base level directory.
Don't add the dependencies, only packages should be added.

[2019-05-29 09:24] abhishekspeer opened #14 "Update README.md"
Currently the README gives no information about the project. Learn how to write README for open source projects, lookout for example documentations and make a README.

[2019-05-29 09:31] abhishekspeer opened #15 "Add Contributing guidelines"
Add a CONTRIBUTING.md file with guiding how the contributors are supposed to contribute to the project. Learn how other open source projects do the same, you'll get a good idea on how are you supposed to do this.

[2019-05-29 09:36] abhishekspeer opened #16 "Add Contributing Guidelines"
Add a CONTRIBUTING.md files with guiding how the contributors are supposed to contribute to the project. Learn how other open source projects do the same, you'll get a good idea on how are you supposed to do this.

[2019-05-29 09:37] #16 closed, assigned to ighosh98

[2019-05-29 10:27] ighosh98 commented on #2
Check the latest commit @abhishekspeer
All cache files have been removed and renaming has been handled. Point out any other errors.

[2019-05-29 15:28] ighosh98 opened #19 "Add Issue Templates"
Linked to #15

[2019-05-30 06:07] ighosh98 commented on #15
CONTRIBUTING.md created

[2019-05-30 06:07] #15 closed, assigned to ighosh98

[2019-05-30 06:33] ighosh98 commented on #14
It is important to note that the installation procedure should be included in README.md.Send PR to the master branch.

[2019-05-30 06:39] ighosh98 opened #21 "Script for adding contributors"
Write a script that every contributor must run before they start contributing. The script should do the following:
- [ ] Star all the repositories of the organization.
- [ ] Make the user watch all the repositories of the organization.
- [ ] Add instructions on how to run the script.
- [ ] Kindly add proper documentation to the code. If required, we can create a separate repository for this issue.

[2019-05-30 11:14] HimanshuAgarwal022 commented on #2
@ighosh98 @abhishekspeer is there anything else needed for the frontend?
also, are the templates working correctly on your systems?

[2019-05-30 13:29] ighosh98 opened #27 "Resolve conflicts between master and development branch"
Please add detailed references for handling future conflicts.
Suggested reference https://help.github.com/en/articles/resolving-a-merge-conflict-using-the-command-line

[2019-05-30 13:44] ighosh98 commented on #2
Also if there are no other errors @HimanshuAgarwal022  please to restructure the project and the code as suggested by the first answer on [this link](https://stackoverflow.com/questions/22841764/best-practice-for-django-project-working-directory-structure). Kindly wait till all merge conflicts have been solved and all other errors have been removed from the code.

[2019-06-01 05:24] ighosh98 opened #28 "Write Unit tests"
Write extensive unit tests for everything in the codebase to ensure that there are no bugs in the code.

[2019-06-04 11:11] ighosh98 commented on #4
Deadline: 21st June. @UnlaxedNeurotic updates on this issue?
I'll reassign if you are busy.

[2019-06-10 11:08] ighosh98 commented on #2
@JessePinkman7 implement the infinite scroll feature and search and fix all the bugs that you can find. Report the bugs to the issue tracker before starting work.

[2019-06-16 23:11] abhishekspeer opened #30 "Improve README.md"
Add instructions (including commands) to set up the project.
Whenever you are using any command or code highlight it [using Shift + ~].
Sample use:
`git clone https://github.com/BITS-Periodical-Society/freelunch.git`

[2019-06-16 23:42] abhishekspeer commented on #27
I had a look at this one. We'll have to compare a lot of files (1500+) to resolve merge conflicts.
Instead, we should make a new branch, sync it with master and add the changes to add what we have done in `development` branch. Once this is done, we can make a PR from this branch and can merge it to `master`.

[2019-06-16 23:45] #14 closed, assigned to unlaxedneurotic

[2019-06-16 23:53] abhishekspeer opened #31 "Add Animations"
Though we are at very early stage, I think this is the time we should be looking for some animations to support our overall design.
Explore different projects, search on google for animations we can use and discuss it with mentors before you start working on it.
Once done, implement and submit a patch for our reviews!

[2019-06-16 23:56] abhishekspeer commented on #2
Is anyboady still working on this one?

[2019-06-16 23:56] abhishekspeer commented on #2
Is anybody still working on this one?

[2019-06-17 00:01] abhishekspeer commented on #21
@ighosh98 @JessePinkman7
I will not recommend implementing this. Users, at least the more experienced bunch, DO NOT prefer doing this as they have a lot of projects and they only want to star and watch the repositories they actually need to.
Please let me know if you have a different perspective about the same. Closing this for now. If necessary, we'll open it again.
Thanks for your effort!

[2019-06-17 06:30] ighosh98 commented on #2
@abhishekspeer Infinite scroll is left. The rest is done. @JessePinkman7  is out for some time. Issue can be reassigned if it is urgently required

[2019-06-17 07:38] ighosh98 commented on #27
@abhishekspeer There are only seven files with merge conflicts. Check PR #32 .

[2019-06-17 20:01] ighosh98 commented on #21
@abhishekspeer Fossasia has this feature. We want to implement this only for people who send a PR or make a significant contribution, beyond reporting bugs. Also, it would be a good coding exercise. Could be optionally implemented in the long run for practice.

[2019-06-18 04:05] #27 closed, assigned to ighosh98, abhishekspeer

[2019-06-18 04:45] #19 closed, assigned to ighosh98

[2019-06-18 04:46] ighosh98 commented on #13
#26 solved this issue. However, we have security vulnerabilities that need to be addressed(Related to the version of Django being used). If required can be reponed later.

[2019-06-18 04:46] #13 closed, assigned to ighosh98

[2019-06-18 18:48] ighosh98 opened #35 "Update to Django>=2.2.2"
We need an update to Django version= 2.2.2 to address security Vulnerabilities. (According to Github).
- Go through the code base and update the code.
- Ensure that there are no bugs after the code is updated.

[2019-06-18 19:02] ighosh98 commented on #35
First work on this @Ak-shay. Also, suggest a suitable deadline by which you intend to finish working on this. 26th seems fair?

[2019-06-18 20:00] #35 closed, assigned to Ak-shay

[2019-06-18 20:16] ighosh98 commented on #30
Solved

[2019-06-18 20:16] #30 closed, assigned to unlaxedneurotic

[2019-06-18 21:09] abhishekspeer opened #41 "Correction in Installation guide included in README.md"
Change `virtualenv virtualenv` to `virtualenv venv`
Also, shift `source ven/bin/activate` to the next line. Writing the two commands together might cause confusions.

[2019-06-19 04:14] ighosh98 commented on #2
@Ak-shay  Please to restructure the project and the code as suggested by the first answer on [this link](https://stackoverflow.com/questions/22841764/best-practice-for-django-project-working-directory-structure).

[2019-06-19 07:18] ighosh98 commented on #3
@Ak-shay refer to http://freelunch.co.in for ideas. Let me know if there are any other queries by adding a comment here. Once you are done, add your name to the list of contributors on the README.md and send a PR.

[2019-06-19 07:23] ighosh98 commented on #41
Fix the error and send a PR @UnlaxedNeurotic. Let Abhishek review it

[2019-06-19 07:39] ighosh98 commented on #2
@HimanshuAgarwal022  @JessePinkman7 Start working on making the template specific to the website from tomorrow. Restructure the paths according to the new project structure. Work together on getting it more specific. You can pick one article from each of the sections as an example from http://www.freelunch.co.in/
Deadline 28 June

[2019-06-19 08:40] ighosh98 opened #43 "Port data from the current website to the new website"
Data needs to be transferred from the current WordPress website to the new Freelunch Django based website. The assignee will have access to the backend of the website once they have figured out a solution. Feel free to discuss via comments on the issue

[2019-06-19 09:21] Ak-shay commented on #43
which database was used by the previous website?

[2019-06-19 09:34] Ak-shay commented on #3
I think we need another model for Article content which have photos and sections fields because for the CharField (current field for content) it will be difficult to handle and add all this.

[2019-06-19 09:53] ighosh98 commented on #3
All right. Go ahead @Ak-shay . Unless there is a neater solution. Is there a neater solution @abhishekspeer ?

[2019-06-19 10:53] ighosh98 commented on #43
WordPress uses MySQL as its database management system. We also need to decide on the database we want to use for this website. I was thinking Postgres should do the job. Thoughts @abhishekspeer @Ak-shay ?

[2019-06-19 15:47] Ak-shay opened #45 "Models to handle to diff kind of users, their permissions and basic info."
We have a page 'about'  in which we will show some basic info like name, email, bio ...etc
This page will have list of all users (developers, editors, chief-editor..etc).
We can have two types user which have any permissions and other with none. But their info will be their in db.
First we need to gather info about types of users and their permissions.
Then ideas to manage to them all.

[2019-06-19 16:05] Ak-shay opened #46 "Form for random user who wants to publish article."
Previously, those who wants to publish their articles were emailing us .
But by making a contributor's page, he/she will attach the article in that form with their personal details.
We can also have some restrictions in according to our article requirements

[2019-06-19 16:14] ighosh98 commented on #46
Decided to not implement this. We'll stick to mailing

[2019-06-19 16:14] #46 closed, assigned to nobody

[2019-06-19 16:17] ighosh98 commented on #45
Task 1: Gather all info from the site database. Discuss and finalize the Schema.
@UnlaxedNeurotic @Ak-shay @abhishekspeer

[2019-06-19 20:29] Ak-shay opened #47 "Add a info template which have about the author, also complete the author template"
Like in the previous site [Author](http://www.freelunch.co.in/authors/) template should have list with links and designation.
After clicking the name it should redirect us to author info [like this](http://www.freelunch.co.in/?author_name=aaditaya-raj-roshan). So add an info template with all required fields.

[2019-06-20 04:27] ighosh98 commented on #47
@HimanshuAgarwal022 please add the templates. Specifics can be clarified on the group, but I think the description made is clear enough
Deadline: 24th June 2019

[2019-06-20 04:51] ighosh98 opened #48 "Add Documentation for the code base"
Everyone contributing code to the project must add documentation while making their PRs. How?
We would be using sphinx. Relevant docs for you guys to go through and understand:
- [The Official Django documentation](https://docs.djangoproject.com/en/dev/internals/contributing/writing-documentation/#getting-started-with-sphinx)
- [Official Sphinx Documentation](http://www.sphinx-doc.org/en/master/)

[2019-06-20 04:54] ighosh98 opened #49 "Setup Sphinx"
Refer to #48 for the tutorials and do the following:
- [x]  Setup Sphinx for our project.
- [ ]  Document the code that you are committing via PRs #42 and #44.
Comment when you are done referencing this issue on your PR. Also, tag me and @abhishekspeer

[2019-06-20 05:11] ighosh98 commented on #48
Before going through the official Sphinx documentation, go through the tutorial or/and videos. Definitely go through the sample projects.

[2019-06-20 08:33] ighosh98 opened #51 "Shift to Class based Views"

[2019-06-20 09:40] ighosh98 opened #52 "Add protection to the Website"
We need to prevent bad bots from scraping the website for starters and look to introduce security measures to improve the security of the website.
#63 must also be implemented. Both the issues are related

[2019-06-20 13:58] ighosh98 commented on #47
I will handle this one with @JessePinkman7 .
Deadline: 24th June 2019

[2019-06-20 14:03] ighosh98 commented on #2
Infinite scroll not yet implemented. I don't see anyone working on restructuring the code either.

[2019-06-20 14:34] Ak-shay commented on #47
Also add the dropdown for author info...As discussed @ighosh98
After frontend will be done, I will do backend for the same

[2019-06-21 05:39] ighosh98 commented on #41
@UnlaxedNeurotic is this done? If yes, send your PR

[2019-06-21 05:45] ighosh98 commented on #47
Template ideas:
1. https://liveramp.com/about-us/#leadership
2. https://jsfiddle.net/StartBootstrap/2Lkm6e1j/?utm_source=website&utm_medium=embed&utm_campaign=2Lkm6e1j

[2019-06-21 08:29] Ak-shay commented on #47
2nd seems great....
We should have something like that only...

[2019-06-21 09:08] Ak-shay opened #56 "changing post content field to something easy to beautify its content"
I have come across an  applicaion [tinyMCE](https://www.tiny.cloud/) for the same.
[Here](https://fosstack.com/how-to-set-up-tinymce-in-django-app/) is the tutorial for same.
More ideas are welcome.

[2019-06-21 09:47] #51 closed, assigned to Ak-shay

[2019-06-21 10:43] ighosh98 commented on #47
Added.

[2019-06-21 10:43] #47 closed, assigned to ighosh98

[2019-06-21 11:18] ighosh98 opened #60 "Articles are not loading properly."
- [x] Articles are not loading properly. Summary and articles are getting mixed. The home page should only have the summary/synopsis of the article. The new page it hyperlinks to does not show the entire article.
- [x] Articles are not loading as of now when you go to the new page
- [x] Add a script to automatically separate the synopsis and main article.
- [x] Add a button that reads **Read More*

[2019-06-21 11:29] ighosh98 commented on #60
@HimanshuAgarwal022 add a read more button for every article in the template and help @Ak-shay  wherever he needs help. It's your code. You know it the best

[2019-06-21 11:38] ighosh98 opened #61 "Fix Older Posts Button"
Direction of arrow in older posts is wrong. Fix it.

![bug](https://user-images.githubusercontent.com/27827510/59920902-b0213300-9449-11e9-8617-3e54bce4d6fa.jpg)

[2019-06-21 11:44] Ak-shay commented on #45
I am thinking to have 3 models:
Author
Editor
Developer
And Chief editor which will be a Editor, will be given permissions manually

[2019-06-21 11:45] ighosh98 commented on #45
That seems fine. Detail the model plans please

[2019-06-21 11:45] Ak-shay commented on #45
In the Post model we will have created_by and edited_by
In the contributors page we will add all 3 models  detail.

[2019-06-21 11:47] ighosh98 opened #62 "Add Documentation for closed PRs"
@UnlaxedNeurotic

- [ ] Add sphinx based detailed documentation for the following PRs. Refer to #48 for tutorials
   -  #42
   -  #44
- [ ]  Go through the list of PRs and create a list of major PRs which are to be documented and add a comment. There should be no redundancy.

From this list, others(@HimanshuAgarwal022, @Ak-shay @JessePinkman7 ) would pick two PRs that you have worked on or would l

[2019-06-21 11:48] ighosh98 commented on #4
Has this been handled yet? @UnlaxedNeurotic @Ak-shay

[2019-06-21 11:50] Ak-shay commented on #4
I am handling all this in #45

[2019-06-21 11:50] Ak-shay commented on #4
But not sure about the forms..
Please elaborate

[2019-06-21 11:50] ighosh98 commented on #4
Let @UnlaxedNeurotic work on it till tomorrow. So the form is a simple one.
1. A field for position(Section editor, Core team member etc. )
2. Field for name
3.  Social media IDs(LinkedIN, Github(May hold NULL values))
4.  A field for position of the member(Writing Core team/Guest Author/Developer)
 Start work on Saturday if this is not solve by then @Ak-shay .
I hope this makes sense.

[2019-06-21 12:14] ighosh98 commented on #49
Same as #62

[2019-06-21 12:16] ighosh98 commented on #56
Please add more specific details on the issue at @Ak-shay .

[2019-06-21 12:19] ighosh98 opened #63 "Protection of subscriber database"
We cannot make the subscriber information public. You are requested to come up with a solution that ensures that the subscriber details can be stored by the website but his data is protected from the public.(Not visible on this repository)
Ideas are welcome! :)

[2019-06-21 12:22] ighosh98 opened #64 "Add Subscribe Feature"
Subtasks
- [x] Add a button which allows users to subscribe using E-Mail IDs and their name.
- [x] Also create a database for storing information of the subscribers.
- [x]  Add necessary frontend

[2019-06-21 12:28] ighosh98 commented on #6
@Ak-shay spend some time searching for a possible solution to this problem. This should be a challenging and interesting issue to work on as it combines the concepts of recommender systems with web development. The core idea is to deploy a recommender system(ML algorithm) on the database. We can start with a tag-based recommender system. Think over it when you get time.

[2019-06-21 12:30] ighosh98 commented on #56
Deadline:30th June

[2019-06-21 16:39] ighosh98 opened #65 "Add Comment Feature"
- [x] The main article should have a commenting feature at the end of the article(A section for comments).
- [x] Comments need to be moderated. Only if the admin/editor approves would the comment be displayed on the website.
Reference: https://github.com/Ak-shay/SOCIAL-BLOG-SITE

[2019-06-21 18:00] ighosh98 opened #66 "Automate Fake Data Creation"
Search for automated methods to create fake data for testing purposes. Suggestions are welcome. Related to #43

[2019-06-21 18:03] ighosh98 commented on #3
Solved partially.

[2019-06-21 18:07] ighosh98 commented on #49
A new issue has been created for documentation. Closing #49

[2019-06-21 18:07] #49 closed, assigned to Ak-shay, unlaxedneurotic

[2019-06-21 18:36] #41 closed, assigned to unlaxedneurotic

[2019-06-21 20:07] ighosh98 commented on #56
Some more editors I found:
1.[Medium Rich Text Editor Clone](https://github.com/yabwe/medium-editor)
2. [Quill](https://quilljs.com/)
3. [Medium Clone 2](https://github.com/orthes/medium-editor-insert-plugin)
4. [Textbox](https://textbox.io/wysiwyg-html-editor/)
5.[CKEditor](https://ckeditor.com/)

However, I feel we can continue with TinyMCE. @Ak-shay @abhishekspeer can you suggest any other alte

[2019-06-21 20:23] ighosh98 commented on #43
Data has been shared with members responsible for backend development(@UnlaxedNeurotic, @Ak-shay, @abhishekspeer and @ighosh98 ) in .sql format. Analyze the database provided before proceeding any further.

[2019-06-21 20:42] ighosh98 opened #69 "Modify CSS template for columns"
Modify Columns in such a way that we can automate the process of postioning the image.

- [x] We are currently using column1, column2, and column3 as classes. This is making it difficult tow write a for loop. (You can either write the for loop or come up with a modification of the CSS which allows us to write the for loop easily)
- [x] Fix the card template.

You can drop me a message or comment b

[2019-06-21 20:48] ighosh98 commented on #69
**Note** : This is a very urgent issue. Needs to be sorted out first and foremost.

[2019-06-22 03:01] ighosh98 commented on #69
@Ak-shay is the solution we discussed working? If yes, commit the code to #68 .

[2019-06-22 03:12] ighosh98 commented on #4
Necessary models have been created in #68

[2019-06-22 04:40] ighosh98 commented on #2
Code cleanup carried out.
Work on the templates-backend branch for the time being. Need codebase restructuring and implementation for infinite scrolling.
Final deadline for implementation: 30 June
@JessePinkman7 @HimanshuAgarwal022
Else, I'll reassign.

[2019-06-22 06:42] Ak-shay commented on #69
That column issue is solved but now I need a solution to div row class after 3 loops..

[2019-06-22 06:43] Ak-shay commented on #64
I have created model for same...
Just need to do some frontend to show form.

[2019-06-22 07:43] ighosh98 commented on #69
Commit the code. We can have a look at it and try to figure out a solution

[2019-06-22 07:43] ighosh98 commented on #64
@JessePinkman7 you're up. Create the form.

[2019-06-22 08:24] ighosh98 commented on #69
@Ak-shay will commit the code and add a comment here with details on the code and database structure.
@HimanshuAgarwal022 @JessePinkman7
1. Work on the branch templates-backend.
2.  So as of now we have a blog.css(flapp/static/css/blog.css). Look for the classes column1,column2 and column3. They govern the position of the images.
Task: We need to automate the transfer of data from sqllite dbs to t

[2019-06-22 08:31] ighosh98 commented on #69
@HimanshuAgarwal022  comments have been added to the issue. Look at #68 . The last commit.

[2019-06-22 08:47] ighosh98 opened #73 "Modify Template for Writers and Developers"
Modify the code for profile_page.html such that the following features are found:
- [x] For writers we have a field where the articles are shown. Hence add the article view to this issue.
- [x] Social media(LinkedIn and Github) fields must be shown on the personal website. If the field is NULL make it invisible, else add a hyperlink to the user's profile. As of now, just add those two symbols with

[2019-06-22 08:52] ighosh98 opened #74 "Restructure the Code Base"
Same as the subtask 4 of #2. Refer to it for instructions

[2019-06-22 08:54] ighosh98 opened #75 "Implement Infinite Scroll"
Final subtask of #2 for all web pages. Look at it as and when required.

Hint: Use AJAX as and when required.

[2019-06-22 09:32] ighosh98 commented on #69
Merging #68

[2019-06-22 09:38] Ak-shay commented on #45
In PR #68, I have almost covered all schema. Here is a detail for the same:

1. **Post** Model
It have `auhtor` and `post_editor` for referencing `Writer` and `Editor` of post.
A `synopsis` to show under the title
A `post` will have  a section.
`content` is a Text field. We will use pagedown libraries.

2. **Developer** Model
It will contain db for our team with their designation  and basic detail

[2019-06-22 09:51] ighosh98 commented on #56
#68 introduced TinyMCE for hosting the website. Keep looking for alternative editors

[2019-06-22 11:08] ighosh98 opened #78 "Fix the Nav Bar"
- [x] Nav Bar does not slide properly when moving from top to below on the web page. Must be fixed and made consistent. It disappears while you are making the slide. Fix this.
- [x] There is a gap created between top of the window and top of the nav bar while moving up. This must be fixed.

[2019-06-22 11:11] ighosh98 opened #79 "Change Color Scheme"
The current color scheme does not look good. Change the color scheme to a different version of green. Look for gradients. Post suggestions here.

[2019-06-22 11:11] ighosh98 commented on #60
Only Read More button and the hyperlink issue are left @HimanshuAgarwal022 . Finish this so that we can close this issue

[2019-06-22 15:57] HimanshuAgarwal022 commented on #78
I can't find any issue please clarify...

[2019-06-22 16:55] HimanshuAgarwal022 commented on #73
so a for loop to filter the articles by the writer rest the template remains the same?

[2019-06-22 18:28] ighosh98 opened #80 "Add documentation for PR #77"
Add Sphinx based documentation for PR #77 .
- [ ] Why not TinyMCE?
- [ ] What is used? Details on the features added to solve #56 by #77 .

[2019-06-22 18:40] ighosh98 commented on #4
Finish the remaining task of creating the form.

[2019-06-22 18:41] ighosh98 commented on #4
This is not yet completed.

[2019-06-22 19:05] ighosh98 commented on #45
Closing Issue.

[2019-06-22 19:05] ighosh98 commented on #45
Do all schema related discussion on #43 . This issue is sorted. Closing this. Apologies for the confusion. If something is left @Ak-shay you can reopen it

[2019-06-22 19:07] #45 closed, assigned to ighosh98, abhishekspeer, Ak-shay

[2019-06-22 19:16] ighosh98 opened #81 "Modify site structure"
We would like to ensure that the article expands on the same page instead of hyperlinking to a new page. This would help increase user engagement. Implement the feature for the following:
- [ ] Cover Page
- [ ] Each of the sections(Science and Tech, Ecofin etc.)

[2019-06-23 03:36] ighosh98 commented on #78
@HimanshuAgarwal022 This was discussed on the group.  The tasks have been detailed again as well.

[2019-06-23 03:38] ighosh98 commented on #73
@HimanshuAgarwal022 Um yeah. That should do the trick.
You will need a condition for deciding if the profile is of a writer or developer. Discuss this part once with @Ak-shay. I feel this can be made into a single template with an if condition.

[2019-06-23 03:39] ighosh98 commented on #69
Row issues still need to be sorted. @HimanshuAgarwal022 @JessePinkman7
Make a PR once that is done. I would then close this issue

[2019-06-23 07:00] ighosh98 opened #82 "Add a field for Cover Image for a post"
Cover Image is an Image which shows up at the top of the article. It is the main image of the post. Google the meaning of cover image if you are unsure what it means.
- [x] Add a field for a cover image in post.
- [x] Search for a mechanism to check if the image is of a minimum size.

[2019-06-23 07:08] ighosh98 opened #83 "SEO implementation"
We need to implement Search Engine Optimization for the website once we start hosting it.
Some useful frameworks:
https://django-seo.readthedocs.io/en/latest/introduction/tutorial.html
Kindly discuss SEO strategies and frameworks to be used in this thread before implementing it.

[2019-06-23 07:36] ighosh98 opened #84 "Do not allow the writer or editor to add an article in their models."
Refer to point 1 of #77
The issue can be discussed further over a phone call.

[2019-06-23 07:38] ighosh98 opened #85 "Difference in article structure between HTML Preview and Actual post"
Has been discussed in #77
Lists are having a difference in the HTML Preview vs the real post when they are not numbered[We want it to look like the HTML preview]. See if we can counter this issue
For reference, Have a look at these images.

HTML Preview
![Screenshot from 2019-06-23 13-00-21](https://user-images.githubusercontent.com/27827510/59973029-0eb7ef80-95b7-11e9-8f98-af670c32920d.png)

The

[2019-06-23 07:40] ighosh98 opened #86 "Adding font style options for the Article"
Refer to issue #77.
- [ ] Give the editor a few more options for the font.

**Note**: Not necessary to be implemented. The current font looks alright. But it would be nice if we could test a couple more fonts and decide which works best]

[2019-06-23 09:20] Ak-shay commented on #86
We have '#' for that. It works like html heading
# #for h1
## ##for h2
so on till h6

[2019-06-23 09:32] Ak-shay commented on #84
Writer and Editor will not have admin credential ...
Only Chief editor will have it.
Writer and Editor will be populated by Chief only.

[2019-06-23 09:48] ighosh98 commented on #85
Closing issue. Refer to #77 for fixes made

[2019-06-23 09:48] #85 closed, assigned to Ak-shay

[2019-06-23 09:49] Ak-shay commented on #84
For now you a credential of a superuser, which every single permission.
I am thinking to make Chief Editor with custom permissions.
And we can also give editor and writer a staff user credential with our custom permmission.

[2019-06-23 09:52] Ak-shay commented on #84
I will add certain methods to automate the process of adding articles..

[2019-06-23 09:55] ighosh98 commented on #86
I mean font style @Ak-shay . Sorry for the confusion

[2019-06-23 10:42] ighosh98 commented on #6
Resources Worth Looking at:
- https://github.com/fcurella/django-recommends
- https://towardsdatascience.com/there-are-two-very-different-ways-to-deploy-ml-models-heres-both-ce2e97c7b9b1

[2019-06-23 11:41] ighosh98 opened #87 "Create Form Interface for other users"
User:
- [x] Editor in Chief

[2019-06-23 12:17] ighosh98 opened #88 "Modify post detail template"

[2019-06-23 14:02] Ak-shay commented on #56
Pagedown libraries are being used now.

[2019-06-23 14:16] ighosh98 commented on #75
We don't need this feature. We decided against doing this

[2019-06-23 14:16] #75 closed, assigned to nobody

[2019-06-23 14:37] ighosh98 commented on #6
@Ak-shay @UnlaxedNeurotic @abhishekspeer
Let me know if we should implement an ML model in our case. (If you would like to)
 Your machine learning stuff can go to the VIEWS or the MODELS depending on what you want to do.
A useful thing worth noting:  If you are using SKLEARN, it is a module and can be used just like any regular module like: requests, Pandas, numpy, etc.

Reference reading material

[2019-06-23 16:24] Ak-shay opened #91 "Change footer for profile page template"
Our footer is in base.html now, we extending it to every template which creates a bug in profile page template..
As we need that links to redirect to respective user..
footer on other page should redirect to freelunch profiles on social media.
Also we need linkedIn, Github logos.
Also a mail logo to add email

[2019-06-23 16:26] ighosh98 commented on #69
Card template is fixed. Refer to #77 .

[2019-06-23 16:26] #69 closed, assigned to ighosh98, Ak-shay, HimanshuAgarwal022

[2019-06-23 16:28] ighosh98 commented on #56
Closing issue. Solved by #77

[2019-06-23 16:28] #56 closed, assigned to ighosh98, Ak-shay

[2019-06-23 16:28] ighosh98 commented on #78
Closing. Solved by #90

[2019-06-23 17:12] ighosh98 commented on #69
Fixed by @HimanshuAgarwal022 . Good job! Refer to PR #77

[2019-06-23 17:41] ighosh98 opened #92 "Make CSS Responsive"
- [x] Fix size of box
- [x] Fix the position of Find out More
- [x] Add Hovering over image[Hovering overlay]

[2019-06-23 19:23] ighosh98 commented on #92
Don't use card-deck.

[2019-06-23 20:54] unlaxedneurotic commented on #65
@ighosh98 Pull request for branch 'comments' opened

[2019-06-23 20:54] #65 closed, assigned to unlaxedneurotic

[2019-06-23 22:56] ighosh98 commented on #92
@HimanshuAgarwal022 please fix the position of the Find Out More button by fixing the CSS. I am getting inconsistent observations on my laptop. Use the **branch patch-f** to work. Everything else works perfectly.
Current situation: **Find out More** is positioned inappropriately in an asymmetric manner. Make the positioning symmetric for a given row by modifying the CSS appropriately.

[2019-06-24 04:25] ighosh98 opened #99 "Modify the comments section template"
- [x] Don't hyperlink to a new page while adding a comment. Load the comments section on the same page

[2019-06-24 07:00] ighosh98 opened #100 "Modify template and masthead"
- [x] Current masthead is too big. Reduce the size of the masthead so that the reader can start reading the article without scrolling down.
- [x] Add bounds for a cover image followed by the title of the article.
- [x] Add necessary symbols for writer, date, edited by and the section of the article.

[2019-06-24 07:06] #2 closed, assigned to ighosh98, Ak-shay, HimanshuAgarwal022

[2019-06-24 10:00] ighosh98 commented on #6
We'll follow the tag based strategy for this. ML would make the website very slow

[2019-06-24 10:02] #82 closed, assigned to ighosh98

[2019-06-24 11:25] Ak-shay commented on #92
Its done in comment branch

[2019-06-24 12:23] ighosh98 commented on #87
Add to the task list if any other users come to mind

[2019-06-24 12:23] ighosh98 commented on #92
Solved using #96.

[2019-06-24 12:23] #92 closed, assigned to ighosh98, Ak-shay

[2019-06-24 12:24] ighosh98 commented on #84
Related to #87.

[2019-06-24 12:26] ighosh98 commented on #73
Backend is done. @Ak-shay is working on frontend.

[2019-06-24 12:29] ighosh98 commented on #91
@Ak-shay Keep that footer. That would link to the main website. Add a section in #73 for the social of a user. Make the template of a user like his personal webpage with a short bio and **Connect with Me** section for social media links. Closing this issue. Work on #73.

[2019-06-24 12:29] #91 closed, assigned to Ak-shay

[2019-06-24 12:30] ighosh98 commented on #73
@Ak-shay Keep the footer as it is. That would link to the main website. Additionally, add a section for the social of a user. Make the template of a user like his personal webpage with a short bio and Connect with Me section for social media links

[2019-06-24 12:44] ighosh98 commented on #86
Look for plugins or frameworks to solve this issue.  Issue is related to #3.

[2019-06-24 12:49] ighosh98 commented on #66
Frameworks we can use:
- [Django-Autofixture](https://pypi.org/project/django-autofixture/)
- [Django-Dilla](https://github.com/aerosol/django-dilla)
- [Django Mockups](https://github.com/sorl/django-mockups) : There hasn't been much development activity on this project.
Which one should we use @UnlaxedNeurotic @Ak-shay ?

[2019-06-24 12:54] ighosh98 commented on #81
Upon discussion, it was decided that such a solution would make the website very slow.
Developing customized algorithms to speed it up is beyond the scope of this website at the moment. Can be experimented on in the future. If anyone is interested in working on such optimization algorithms tag me or @abhishekspeer with a comment down below.

[2019-06-24 12:56] ighosh98 commented on #81
Closing issue. Can be used for personal experimentation.

[2019-06-24 12:56] #81 closed, assigned to nobody

[2019-06-24 12:56] ighosh98 commented on #5
This would slow down the website considerably. Can be done as a programming exercise later.

[2019-06-24 12:56] #5 closed, assigned to ighosh98

[2019-06-24 12:58] ighosh98 commented on #3
Customizing font style is the only part of the issue which is left to be solved.

[2019-06-24 12:58] #3 closed, assigned to Ak-shay

[2019-06-24 13:01] ighosh98 commented on #83
Resources for reading and frameworks:
https://django-seo.readthedocs.io/en/latest/introduction/tutorial.html
https://medium.com/@bedjango/4-seo-tips-to-position-your-website-using-django-96999d373222
https://www.vinta.com.br/blog/2015/basic-seo-django/

[2019-06-24 13:03] ighosh98 commented on #21
Closing for now. Can be done as a personal project later

[2019-06-24 13:03] #21 closed, assigned to ighosh98

[2019-06-24 13:06] ighosh98 commented on #88
Sorted by #96

[2019-06-24 13:06] #88 closed, assigned to ighosh98

[2019-06-24 13:11] ighosh98 opened #102 "Add appropriate images to be used in the new website"
Export Images from the old website and add it to the new website
Task details:
- [ ]  You are given an XML file which stores the URL of the images to be extracted. You have to scrape the data off the old website by parsing for links on the XML document.
- [ ] Try to figure out a way of automatically mapping an image to an article scraped from the website.

Reason? We are unable to use WordPress pl

[2019-06-24 14:20] ighosh98 commented on #102
Reference for learning and practicing @UnlaxedNeurotic : https://github.com/twitu/python_web_scraping
We'll start next week. We will use Beautiful Soup
Video Tutorials
- [XML Basics](https://www.youtube.com/watch?v=pKz1faPVNMA)
- [Most relevant Tutorial](https://www.youtube.com/watch?v=aIPqt-OdmS0) : **Go through the entire web min-series**
- [Web Scraping and Automation](https://www.youtube.com/p

[2019-06-24 18:45] ighosh98 commented on #73
Template idea:
https://www.wix.com/website-template/view/html/2206?siteId=86816562-8681-4b95-a9ea-6eb4178a1654&metaSiteId=a5028e92-a237-4abd-bde5-9c1e0f0839b0&originUrl=https%3A%2F%2Fwww.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fblogs-and-forums

[2019-06-24 18:45] ighosh98 commented on #73
@Ak-shay make it a variation of that template.

[2019-06-24 18:46] ighosh98 opened #104 "Redesign Post Detail Template"
Modify post-detail template
Add the following in order:
- [x] Heading
- [x] Synopsis
- [x] Cover image
- [x] Content
- [x] Social media sharing options
- [x] Comments Section

[2019-06-24 18:46] ighosh98 commented on #104
Template ideas:
1. https://editor.wix.com/html/editor/web/renderer/new?siteId=f3b2f82b-4eef-4d1a-bcbb-9b4113eab7d0&metaSiteId=973ef088-80a8-49a4-8cc8-19bbb3647254&editorSessionId=23ee4558-0937-4650-adb4-64bde8e17890
2. https://www.wix.com/website-template/view/html/2233?siteId=1f41a9aa-d93b-4b62-bb99-184426438764&metaSiteId=bf6bd92f-0059-4fd6-8781-7edc83d7ad97&originUrl=https%3A%2F%2Fwww.wix.com%2

[2019-06-24 18:49] ighosh98 commented on #104
@HimanshuAgarwal022 start working on this issue when you are finished with remaining issues

[2019-06-25 06:13] ighosh98 opened #105 "Monitor Site Traffic"
- [x] When the site is hosted, the site traffic should be monitored on a monthly and yearly basis.
- [x] Also provide an article wise traffic analysis
Fields necessary:
- [x] Number of unique IPs
- [x] Number of Visits

[2019-06-25 13:40] ighosh98 commented on #104
Solved by #103. Closing issue.

[2019-06-25 13:48] ighosh98 opened #106 "Modify post_list UI"
- [x] Add symbols for the author, date of publication, Section and Editor.
- [x] Fix the MastHead(Add the name of the section the user is viewing at that moment to the masthead)
- [x] Display the cover image for every post along with the synopsis.
- [x] Implement infinite scroll

[2019-06-25 14:10] ighosh98 commented on #99
Still not solved. @UnlaxedNeurotic keep working on it.

[2019-06-25 15:39] Ak-shay commented on #106
for symbols use from post-detail view

[2019-06-25 20:01] ighosh98 opened #109 "Post preview"
Add a post preview before it is published.

[2019-06-26 02:04] #109 closed, assigned to Ak-shay

[2019-06-26 02:15] ighosh98 opened #111 "Restrict rights for Post form"
Enable access to the post preview form only for the following users:
- [ ]  Admin
- [ ] Editor-in-Chief

[2019-06-26 04:56] #74 closed, assigned to ighosh98

[2019-06-26 06:26] Ak-shay commented on #105
We can use [Google Analytics](https://analytics.google.com/analytics/web/provision/?authuser=0#/provision)
Have a look

[2019-06-26 12:54] #73 closed, assigned to Ak-shay

[2019-06-26 12:56] #87 closed, assigned to Ak-shay

[2019-06-26 12:57] ighosh98 commented on #106
Refer to #112 for task 2.

[2019-06-26 14:03] ighosh98 commented on #106
Add the cover image please @HimanshuAgarwal022 and implement infinite scroll. @UnlaxedNeurotic can implement the rest.

[2019-06-26 14:12] ighosh98 commented on #61
Removing the buttons. We would implement this using pure CSS

[2019-06-26 14:12] #61 closed, assigned to unlaxedneurotic

[2019-06-26 17:58] ighosh98 opened #115 "Issues Left in the Backend"
Check out these Issues @Ak-shay :
- [x] Handle integrity errors. They are raised when an article of the same title is added.
- [x] I am unable to add images on my articles inside the post. (Test using the backend of the old website. Use [this article](http://www.freelunch.co.in/wp-admin/post.php?post=2167&action=edit) as sample)
- [x] Cover image is not being displayed even after it is uploaded.
-

[2019-06-26 17:59] ighosh98 commented on #115
Fix in the #114 on the branch restructure.

[2019-06-26 19:05] ighosh98 commented on #31
Tutorials:
https://www.youtube.com/watch?v=ePgnR4gHIi4
https://learn.shayhowe.com/advanced-html-css/css-transforms/
https://wicg.github.io/scroll-animations/
https://scotch.io/tutorials/implementing-a-scroll-based-animation-with-javascript
https://www.sitepoint.com/scroll-based-animations-jquery-css3/
https://codepen.io/tag/css-animation/3/
https://codepen.io/cedrickcapacete/pen/ezZBVp?page=8
Stac

[2019-06-26 19:23] ighosh98 commented on #43
[Postgres setup tutorial](https://tecadmin.net/install-postgresql-server-on-ubuntu/)

[2019-06-26 19:50] Ak-shay commented on #115
Title of a article is its unique, it cant be same..
Also title is being used to make slug which is unique.
Moreover, there will be no article with same title

[2019-06-27 17:12] unlaxedneurotic commented on #66
Cannot use django mockups. Does not work with python3.x. Many syntax and import errors

[2019-06-27 17:29] unlaxedneurotic commented on #66
Actually, none of these are viable. Django-Dilla was last updated around 8 years ago. And Autofixture only supports django 1.4-1.9. I was looking at other options but not many are available. [Faker](https://faker.readthedocs.io/en/stable/) [(check repo)](https://github.com/joke2k/faker) is recently updated but it is does not seem to be built for django. Just a general python fake data creator. But

[2019-06-27 20:09] ighosh98 commented on #66
Go through the documentation once. Work on implementing that in a separate repo. @UnlaxedNeurotic

[2019-06-28 02:06] ighosh98 commented on #66
Field formats we would need:
1. Fake name
2. Fake MAIL ID
3. Fake text
4. Fake dates
So, faker seems to be alright in general, but data is generated in XML format. We would need to convert the data into a SQL type format.

[2019-06-28 02:12] ighosh98 opened #116 "Add a default Cover Image and synopsis"
- [ ] If cover image not added. The website should not result in 404 or similar errors. @HimanshuAgarwal022 will elaborate on this by posting an image.
- [x] If the synopsis is not added and the field is empty, then by default the first paragraph of the article would become the synopsis.

[2019-06-28 03:23] ighosh98 commented on #86
Fixed a font style in #114 .

[2019-06-28 03:23] #86 closed, assigned to ighosh98, Ak-shay

[2019-06-28 03:24] ighosh98 commented on #60
I have fixed the hyperlink issue in #114.

[2019-06-28 16:53] Ak-shay commented on #116
Do we really need default?
Cover image should be in accordance to the article.
High chances of  posting  it with default.

[2019-06-28 17:36] Ak-shay commented on #116
If we doesn't provide synopsis then we must add starting few characters(like 640) of main content instead of first para..As it may have more than required characters which may not look good.

[2019-06-28 17:41] Ak-shay commented on #60
Is this solved ?
@HimanshuAgarwal022 have u added `read more` in your new templates?

[2019-06-28 17:42] Ak-shay commented on #48
@UnlaxedNeurotic
Whats the status?

[2019-06-28 17:46] Ak-shay commented on #6
Tasks:
- [ ] Add Tag model
- [ ] Make a function that returns recommended articles by using tags then categories then all...
- [ ] All should be sorted by time and date
- [ ] Add recommendations in templates.

[2019-06-28 17:47] Ak-shay commented on #4
@ighosh98
Do we need forms?
We can add anything in admin panal.

[2019-06-28 17:56] Ak-shay commented on #31
We need opinions for diff animations....

[2019-06-28 18:26] ighosh98 commented on #4
All forms are for the chief editor to add stuff

[2019-06-29 10:46] HimanshuAgarwal022 commented on #99
maybe we can implement facebook comment plugin for Django
it's simple and efficient.
https://developers.facebook.com/docs/plugins

[2019-06-29 10:49] HimanshuAgarwal022 commented on #60
yes I have added the read more button and some major frontend enhancements.
will commit soon.

[2019-06-29 11:47] ighosh98 commented on #99
@HimanshuAgarwal022 Similar to the fb comment system or add the plugin FB comment plugin to our web app? There is a solution to this problem available online(As discussed with @Ak-shay ). Let @UnlaxedNeurotic search for it.

[2019-06-29 14:51] HimanshuAgarwal022 commented on #99
no add the same FB plugin as it is. also maybe like and share on fb etc.
@UnlaxedNeurotic @ighosh98

[2019-06-29 20:31] ighosh98 commented on #106
Solved. Fix the minor issues left @HimanshuAgarwal022 on the branch restructure. Fixed in #117 and #114.

[2019-06-29 20:31] #106 closed, assigned to ighosh98, unlaxedneurotic, HimanshuAgarwal022

[2019-06-29 20:32] ighosh98 commented on #31
Solved partially by #117.

[2019-06-29 20:35] ighosh98 commented on #60
#118 solved this

[2019-06-29 20:35] #60 closed, assigned to ighosh98, Ak-shay, HimanshuAgarwal022

[2019-06-29 20:36] ighosh98 commented on #79
Solved

[2019-06-29 20:36] #79 closed, assigned to HimanshuAgarwal022

[2019-06-29 21:04] ighosh98 commented on #116
Details regarding Synopsis is discussed. If the sentence exceeds the prescribed character limit, cut the last sentence out

[2019-06-30 10:29] Ak-shay commented on #116
first para of content will be the synopsis, if synopsis is blank

[2019-06-30 14:56] unlaxedneurotic opened #118 "Cover images are improperly displayed in masthead"
Cover images in masthead in post-detail template are not displayed properly . Check posts 'What Narcos Doesn't Tell You' or 'Automated image labelling...' to see the issue.

[2019-06-30 16:33] ighosh98 opened #119 "Create A customised Profile Page Template"
- [x]  Remove the cards format for the article.
![Screenshot from 2019-06-26 23-19-10](https://user-images.githubusercontent.com/27827510/60202713-d3dce280-9868-11e9-9f88-6049e70e9a21.png)
- [x] Come up with a better template.

[2019-06-30 16:37] ighosh98 commented on #64
@Ak-shay finish this please.

[2019-06-30 16:39] Ak-shay commented on #118
Its not an issue..
We need to add cover  image to respective article and it will be sorted..
This issue will not raise again as cover_image field is neccessary..

[2019-06-30 16:41] #118 closed, assigned to HimanshuAgarwal022

[2019-06-30 16:44] ighosh98 commented on #119
Solved by #114

[2019-06-30 16:44] ighosh98 commented on #116
Solved by #114.

[2019-06-30 16:44] #116 closed, assigned to Ak-shay

[2019-06-30 16:51] Ak-shay opened #120 "If title of article is of more than one line, post-detail view doesnt show section, editor, time...etc"
In laptop screen lines below title is not visible..

[2019-06-30 20:14] ighosh98 commented on #105
To be implemented. I will handle this issue. Last issue to be addressed in #114.

[2019-06-30 20:16] ighosh98 commented on #120
Please look into a fix for this @HimanshuAgarwal022. @Ak-shay please add more images to describe the bug.
**Note**: Try to follow the [ Bug report template](https://github.com/BITS-Periodical-Society/freelunch/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) next time.
**Edit**: I will look into this issue.

[2019-06-30 20:23] ighosh98 commented on #6
I'll create a new for the same. Closing this one.

[2019-06-30 20:23] #6 closed, assigned to ighosh98, Ak-shay

[2019-06-30 20:24] ighosh98 opened #122 "Implement Suggested Article Feature"
Tasks:
- [x] Add Tag model
- [x] Make a function that returns recommended articles by using tags then categories then all...
- [x] All should be sorted by time and date
- [ ] Add recommendations in templates.

[2019-06-30 20:26] ighosh98 commented on #115
Closing issue as it is solved in #114.

[2019-06-30 20:26] #115 closed, assigned to Ak-shay

[2019-06-30 21:03] #99 closed, assigned to unlaxedneurotic

[2019-07-01 10:37] Ak-shay commented on #120
![fl](https://user-images.githubusercontent.com/46865292/60430093-13654f00-9c1a-11e9-9294-977fcfc0c115.png)
![fl2](https://user-images.githubusercontent.com/46865292/60430096-13fde580-9c1a-11e9-8d37-1bd9b23dc8d9.png)
These two are bugs.
For first pic date goes down
For second pic that row doesn't show due 2 line title

[2019-07-01 11:57] ighosh98 commented on #120
Fixed this bug. Please verify by referring to the last commit on #114.  @Ak-shay

[2019-07-01 11:57] #120 closed, assigned to ighosh98

[2019-07-01 11:58] ighosh98 commented on #119
Solved in #114

[2019-07-01 11:58] #119 closed, assigned to ighosh98

[2019-07-01 12:02] Ak-shay commented on #64
Where should we add subscribe form?

[2019-07-01 12:02] ighosh98 opened #125 "Force the editor or post creator to necessarily add a cover image"
Has this been solved? @Ak-shay

[2019-07-01 12:04] Ak-shay commented on #125
Yes ..
Without adding cover image post will not create

[2019-07-01 12:04] Ak-shay commented on #125
We can have message below cover input if u want

[2019-07-01 12:11] ighosh98 commented on #125
Keep a default cover image, just to be safe. It would help save some time during testing as well

[2019-07-01 12:25] ighosh98 opened #126 "Animation based bugs"
Animations created by #31 have bugs.
One of the bugs spotted:
![Screenshot from 2019-07-01 17-54-21](https://user-images.githubusercontent.com/27827510/60436258-4ebb4a00-9c29-11e9-9222-f3be50b8c0fe.png)
The color changes weirdly in the middle of the article. Upon inspection, it is found to be a JS based bug. Look at the customized JS added here. There are bugs in it.

[2019-07-01 12:31] ighosh98 commented on #126
Add any more animations if required.

[2019-07-01 12:35] ighosh98 commented on #64
We could do one of the two:
1. Don't add a form. Just a bar where users can enter their details.
2.  Or we could also add it to the right of the post_list and post_detail pages(like in the previous site). Similar implementation to Comments forms. Just position things properly. @UnlaxedNeurotic can take this up. You can post the required fields on the thread.
@Ak-shay which one is better in your op

[2019-07-01 12:37] #52 closed, assigned to nobody

[2019-07-01 12:39] ighosh98 commented on #48
I am assuming everyone has gone through the tutorials. I'll add details to Contributing.MD for the same. Closing issue.

[2019-07-01 12:39] #48 closed, assigned to ighosh98, Ak-shay, unlaxedneurotic, HimanshuAgarwal022

[2019-07-01 12:42] Ak-shay commented on #126
Is it a post specific bug..
I am unable to regenerate it.

[2019-07-01 13:02] ighosh98 commented on #125
Also work on ensuring that the image fits into the decided dimension. It should not get cropped

[2019-07-01 13:33] ighosh98 commented on #126
Fixed. Nevermind

[2019-07-01 13:33] #126 closed, assigned to ighosh98

[2019-07-01 13:36] ighosh98 commented on #84
Is this done? @Ak-shay

[2019-07-01 13:48] ighosh98 commented on #102
We have the image links along with the data stored in an XML file. Is scraping necessary @abhishekspeer?

[2019-07-01 13:50] ighosh98 commented on #125
Solved in #114.

[2019-07-01 13:50] #125 closed, assigned to Ak-shay

[2019-07-01 13:51] ighosh98 opened #128 "Image size restrictions"
- [x] Work on ensuring that the image(cover images as well as images in a post) fits into the decided dimension. It should not get cropped.

[2019-07-01 13:53] #80 closed, assigned to ighosh98

[2019-07-01 14:09] ighosh98 opened #129 "Linting the code base"
- [ ] Once the entire project is completed, perform linting for the entire code base.
- [ ] Clean up the codebase removing unnecessary code

[2019-07-01 14:10] ighosh98 commented on #111
Not needed. Closing issue

[2019-07-01 16:02] #111 closed, assigned to ighosh98

[2019-07-01 18:01] ighosh98 commented on #4
solved

[2019-07-01 18:01] #4 closed, assigned to Ak-shay, unlaxedneurotic

[2019-07-01 19:44] ighosh98 opened #138 "Make frontend browser compatible browser"
We are getting different results for different browsers. Fix this

[2019-07-01 21:04] Ak-shay commented on #138
This issue is solved..
Hosted site is working same on both browsers(chrome and mozilla),
Just try to open it in incognito mode..
CAUSE: The cache of chrome was not reading new scripts of our hosted site

[2019-07-01 21:04] #138 closed, assigned to ighosh98, Ak-shay

[2019-07-01 21:19] Ak-shay opened #139 "Uncaught Reference error: Waypoint is not defined"
## Regenerate
Go to `127.0.0.1` .
Open developers console.
In console you will see this error.
![Screenshot from 2019-07-02 02-44-16](https://user-images.githubusercontent.com/46865292/60467295-e34a9a00-9c73-11e9-9c76-2cc0726fe0d8.png)

## Origin of error
This error is related to script in `post_list.html` at `line: 8`.

[2019-07-02 01:50] ighosh98 commented on #139
That is some animation @HimanshuAgarwal022 is working on and left the code there. @HimanshuAgarwal022 clean it up if it is not required.

[2019-07-02 06:10] ighosh98 commented on #139
Should be solved by #140. CDN added instead of static files.

[2019-07-02 06:12] ighosh98 opened #141 "Mobile View Compatibility Testing"
Test if all the features appear appropriately in Mobile View and submit issues in comments below.

- [x] Alignment issues of symbols in post details
- [x] Post detail margin needs to be correected

[2019-07-02 06:13] ighosh98 commented on #141
Solved by #140.

[2019-07-02 06:17] ighosh98 commented on #66
@UnlaxedNeurotic can implement this one.

[2019-07-02 06:18] ighosh98 commented on #84
Closing Issue. Need to add necessary documentation for the same.

[2019-07-02 06:18] #84 closed, assigned to Ak-shay

[2019-07-02 06:31] ighosh98 opened #142 "Author can be a multi valued field"
Make necessary changes to ensure that the user can enter multiple authors for an article

[2019-07-02 08:08] Ak-shay commented on #139
Its still there...
I have written origin of error.

[2019-07-02 08:45] Ak-shay commented on #142
SOLVED in new commit

[2019-07-02 08:45] #142 closed, assigned to Ak-shay

[2019-07-02 10:00] #139 closed, assigned to ighosh98

[2019-07-02 10:32] unlaxedneurotic commented on #66
Fixed in #144

[2019-07-02 10:32] #66 closed, assigned to unlaxedneurotic

[2019-07-02 10:38] unlaxedneurotic commented on #128
Should the image be resized in case it's aspect ratio does not match the one specified?
@ighosh98

[2019-07-02 15:22] HimanshuAgarwal022 commented on #141
post detail margin corrected and some background shadows added to post list and detail in branch frontend2.

[2019-07-02 15:23] HimanshuAgarwal022 commented on #128
I have made the image container responsive in post detail
it won't get cropped now
ref. frontend2 branch.

[2019-07-02 20:32] ighosh98 opened #149 "Add script to find keywords in a post"
- [ ]  Automate the process of selecting tags/keywords for suggested articles feature.(#122)
**Hint**: Use NLP to find all the keywords given a text document
**Suggested Techniques**:  Calculate TF-IDF scores to find the keywords.

[2019-07-03 05:35] ighosh98 opened #150 "Add Guest Authors and Founders"
- [x] Modify the authors.html template to add a section of Founders and Guest Authors.
Format:
- [x] Founders: Same as developers and writers.
- [x] Guest Authors: Simply list their names with hyperlinks to their profile page. No images or anything.

[2019-07-03 05:37] ighosh98 opened #151 "Modify Footer"
- [x] Add the name of the development team members to the bottom:
@abhishekspeer,@ighosh98, @Ak-shay, @HimanshuAgarwal022 , @UnlaxedNeurotic
**[Refer to the README and discuss with me directly if you have doubts regarding the members]**
- [x] Add Hyperlink to their profile pages if they exist.

[2019-07-03 05:45] ighosh98 commented on #105
Not yet fixed. I will finish this one later. Add it once the site is hosted.

[2019-07-03 05:48] ighosh98 commented on #104
Social media sharing options have not been added yet.

[2019-07-03 08:03] ighosh98 opened #152 "Show all articles of an author on his profile page"
- [x] Modify `authors.html` to show all the articles written by an author on his profile page.
- [ ] Implement infinite scroll on the profile page(Authors.html)

[2019-07-03 08:19] ighosh98 opened #153 "Fix faker script"
Take the following points into account while fixing:
- [x] Author field can be multivalued(Entries <=2)[Earlier we were using foreign key now it's a many to many field.]
- [x] Fix migration errors

[2019-07-03 10:11] HimanshuAgarwal022 commented on #104
we should use disqus for comments and social links...

[2019-07-03 12:25] ighosh98 commented on #104
@HimanshuAgarwal022 add the commit to your PR.

[2019-07-03 12:37] ighosh98 commented on #141
No more bugs reported in mobile compatibility testing. Closing issue.

[2019-07-03 12:37] #141 closed, assigned to ighosh98, HimanshuAgarwal022

[2019-07-03 17:39] HimanshuAgarwal022 commented on #151
no frontend needed just link the backend

[2019-07-03 17:43] HimanshuAgarwal022 commented on #104
done check frontend2

[2019-07-03 19:41] unlaxedneurotic commented on #64
Fixed in #154

[2019-07-03 19:41] #64 closed, assigned to Ak-shay, unlaxedneurotic

[2019-07-04 07:52] #153 closed, assigned to unlaxedneurotic

[2019-07-04 09:36] unlaxedneurotic opened #157 "More information regarding `populate_site.py` script"
The `populate_site.py` script is written to automate the creation of fake data (see issue #66 ).
The script adds `author`, `editor`, `post` and `comment` objects to the sqlite3 database.
The date-time-fields added are naive as they in no way affect our purpose and any warning messages regarding this can be ignored.

_Screenshots:_

Install the library
![Installation](https://user-images.githubuser

[2019-07-04 16:30] Ak-shay opened #158 "In subscribe form "Subscribe" heading is not visible"
## Regenerate
If we click to `subscribe` button from nav-bar, a small is window is opened for subscribe form..
## Issue
`Subscribe` heading is hiding behind the nav bar.
![Screenshot from 2019-07-04 21-56-58](https://user-images.githubusercontent.com/46865292/60679953-26408380-9ea7-11e9-923d-673b2f470dbf.png)

[2019-07-04 16:34] Ak-shay commented on #152
In the new commit to master..
`Founder` model is added..

In `contributors` page..
There are four section:
FOUNDER
EDITOR
SECTION
WRITER

[2019-07-04 16:54] Ak-shay commented on #150
In the new commit to master..
Founder model is added..

In contributors page..
There are four section:
FOUNDER
EDITOR
SECTION
WRITER

[2019-07-05 05:25] ighosh98 commented on #157
Thanks for the tutorial! Closing this issue

[2019-07-05 05:25] #157 closed, assigned to unlaxedneurotic

[2019-07-05 05:26] ighosh98 commented on #151
Names haven't been added to the footer. No updates from @HimanshuAgarwal022. Reassigning. Hard code it please @Ak-shay

[2019-07-05 05:32] ighosh98 opened #159 "Template Modifications"
- [x] Make the templates compatible with the backend wherever it is hardcoded. [**Note: See PRs by @HimanshuAgarwal022.**]
- [x] Fix the post list layout as referred to by @Ak-shay in #148.
- [x] Infinite scroll is buggy. Please fix it.
![Screenshot from 2019-07-05 21-07-01](https://user-images.githubusercontent.com/27827510/60732882-e7730200-9f68-11e9-89c2-eb4615efd2d8.png)

[2019-07-05 05:37] #158 closed, assigned to Ak-shay

[2019-07-05 05:38] #31 closed, assigned to ighosh98, Ak-shay, HimanshuAgarwal022

[2019-07-05 05:38] #128 closed, assigned to HimanshuAgarwal022

[2019-07-05 05:45] ighosh98 commented on #104
All tasks completed in #148. However, bugs need to fixed . [As addressed in #159 ]

[2019-07-05 05:45] #104 closed, assigned to Ak-shay, HimanshuAgarwal022

[2019-07-05 07:58] unlaxedneurotic opened #160 "Authors displayed improperly in post_form"
Issue with formatting under post preview when multiple authors are selected.
Attached screenshot of the issue.
@Ak-shay

![Screenshot (73)](https://user-images.githubusercontent.com/47986362/60707056-6c89f700-9f28-11e9-8428-57ec742644af.png)

[2019-07-05 09:15] Ak-shay opened #161 "Subscribe form window is not closing automatically"
## Regenerate
Click on `subscribe`from the nav bar.
It opens a new window for form.

## Issue
This new window redirect us to our site page after user has subscribed to our site.

## Expectation
This window should be closed on clicking `submit`, on verifying user detail (EMAIL).

[2019-07-05 09:21] Ak-shay opened #162 "populate_site.py needs to upgraded"
## Improvement
All variables should be in consider with our `models.py`.
Current variable names doesn't make sense.
The `designation` variable has been changed..
Make `user` prompt with more detail exceptions and allow them to re-input that field.

## New
`Founder` model is added, add fake script for this too.

[2019-07-05 10:30] unlaxedneurotic commented on #161
Fixed in commit [`06f72a2`](https://github.com/BITS-Periodical-Society/freelunch/commit/06f72a2fc1d20a1e68d5b6a57ecfdab324d88d85) to `master`.

[2019-07-05 10:30] #161 closed, assigned to nobody

[2019-07-05 10:43] unlaxedneurotic commented on #152
Handled in PR #164. I don't think we need to implement infinite scroll to the profile page. All the post titles are displayed as a list which hyperlink to the respective posts and will show all the items.
@ighosh98

[2019-07-05 12:23] ighosh98 opened #165 "Restrict Access to create post page"
- [x] Ensure that only admin can access that page. It should not be visible to any random user.

[2019-07-05 12:50] ighosh98 opened #166 "Identify recently published articles"
- [ ] We intend to identify articles published in the last 14 days and mark them as featured articles which would be put up on the masthead of the website.
- [ ] The scrolling masthead looks horrendous. Fix it. Everything about it is wrong.

[2019-07-05 14:49] ighosh98 opened #168 "Separate Guest Authors from Other Authors"
- [x] Divide authors into two classes based on them being Guest Authors or not being Guest Authors.

[2019-07-05 15:21] Ak-shay commented on #166
it can be easily done using filter in views..
if we need top 4 then use loop indexing

[2019-07-05 15:25] ighosh98 commented on #151
Fixed

[2019-07-05 15:25] #151 closed, assigned to ighosh98

[2019-07-05 15:27] ighosh98 commented on #166
We will use loop indexing then.

[2019-07-05 16:06] #159 closed, assigned to ighosh98, Ak-shay

[2019-07-05 18:32] ighosh98 commented on #150
Related to #168.

[2019-07-06 06:46] ighosh98 commented on #78
We still have some issues in th Nav Bar. @UnlaxedNeurotic please clarify the issues.

[2019-07-06 08:00] #122 closed, assigned to Ak-shay, unlaxedneurotic

[2019-07-06 08:02] #165 closed, assigned to Ak-shay

[2019-07-06 08:02] #160 closed, assigned to Ak-shay

[2019-07-06 11:05] unlaxedneurotic commented on #162
Fixed in commit [f2d1eca](https://github.com/BITS-Periodical-Society/freelunch/commit/f2d1eca80c62322822d3055b1041a2cea40a84a1)

[2019-07-06 11:05] #162 closed, assigned to unlaxedneurotic

[2019-07-06 12:30] #150 closed, assigned to Ak-shay, unlaxedneurotic

[2019-07-06 12:30] unlaxedneurotic commented on #168
Fixed in #172

[2019-07-06 12:30] #168 closed, assigned to unlaxedneurotic

[2019-07-06 12:31] #152 closed, assigned to unlaxedneurotic

[2019-07-06 12:37] #78 closed, assigned to HimanshuAgarwal022

[2019-07-06 15:04] abhishekspeer opened #173 "Add gap between 2 Articles"
![Screenshot from 2019-07-06 20-30-52](https://user-images.githubusercontent.com/33948877/60757848-99740200-a02d-11e9-8364-ad196f8c7295.png)

Add some gap between 2 articles to make sure users can differentiate between 2 articles while scrolling.
Also, add some gap between image and article content.

[2019-07-06 17:22] abhishekspeer opened #174 "Add Preloader"
Add a preloader so as to ensure that static files are loaded before users see the homepage

[2019-07-06 17:26] abhishekspeer opened #175 "Change Heading Text colour"
White looks good, but it's not clearly visible. I'd be great if we could come up with an alternative for the same.
I'd suggest a gradient effect on green text. Also, I'm open to suggestions on this one.
![Screenshot from 2019-07-06 20-46-50](https://user-images.githubusercontent.com/33948877/60759338-473cdc00-a041-11e9-8253-6dcd81f92aa0.png)

[2019-07-06 17:39] abhishekspeer opened #176 "Customise the Article List View"
Although the front heading looks good, the articles list view doesn't look that good at the moment.
Make necessary changes to improve the design.

[2019-07-06 17:41] abhishekspeer opened #177 "Post Loader overlap"
![Screenshot from 2019-07-06 23-10-14](https://user-images.githubusercontent.com/33948877/60759442-53c23400-a043-11e9-973c-7ca02d1f3d85.png)

Blog loader overlaps with the posts while scrolling down.

[2019-07-06 20:58] unlaxedneurotic commented on #175
@ighosh98 @HimanshuAgarwal022 @Ak-shay @abhishekspeer
Will any of these work?
![img1](https://user-images.githubusercontent.com/47986362/60760966-9e9c7580-a05c-11e9-90a3-983294bed6cb.jpg)
#003333 - #339966
![img3](https://user-images.githubusercontent.com/47986362/60761056-b8d75300-a05e-11e9-817a-91d6555185c2.jpg)
![img4](https://user-images.githubusercontent.com/47986362/60761058-bbd24380-a05e-11

[2019-07-07 04:35] abhishekspeer commented on #175
We do not need any background fill. Just gradient in text colour. The background looks good for now.

[2019-07-07 04:52] abhishekspeer opened #178 "[Bonus] Comment Script"
write a code that can add a single line comment to all the python scripts (we are working with) of this repository at once.

[2019-07-07 13:59] abhishekspeer opened #180 "Reduce width of the Footer"
Reducing the footer width would make it look better.
![90A38A13-BF47-4333-9BB7-8CFC54EB1A13](https://user-images.githubusercontent.com/33948877/60769460-8fb1d380-a0ed-11e9-9ea0-be6009c45c6d.png)

[2019-07-07 14:53] #173 closed, assigned to unlaxedneurotic

[2019-07-07 14:53] #176 closed, assigned to Ak-shay

[2019-07-07 14:58] #180 closed, assigned to ighosh98

[2019-07-07 14:58] #100 closed, assigned to ighosh98, Ak-shay

[2019-07-07 14:59] Ak-shay opened #181 "Integrate infinite scroll in home page"

[2019-07-07 14:59] Ak-shay commented on #177
will be considered in #181

[2019-07-07 14:59] #177 closed, assigned to ighosh98

[2019-07-07 15:05] Ak-shay opened #182 "Change logo of title of site pages"
We have new logo in our recent commits.
This should be replaced with our current on left of tab.
See the tabs
![Screenshot from 2019-07-07 20-32-20](https://user-images.githubusercontent.com/46865292/60770225-5af64a00-a0f6-11e9-9a88-b7e198c57e66.png)

[2019-07-07 16:51] #175 closed, assigned to unlaxedneurotic

[2019-07-07 18:16] ighosh98 opened #187 "Fonts and Footer"
- [x] Test multiple Font ideas: See which works best.
    -PT serif (text size 20px and line height 33) with text smoothing css will help you to achieve the same result.
     - Charter ITC
     - https://ufonts.com/fonts/lucida-grande.html
- [x] Add a friendlier "Connect with us" type of message with social media icons.[In the footer]
- [x]  Fix the footer font of developers
- [x] Fix Underline in

[2019-07-07 18:18] ighosh98 commented on #187
I'll keep posting fonts for the next 10 minutes. Start with the other issues. @UnlaxedNeurotic

[2019-07-07 18:32] ighosh98 commented on #182
Logo remained the same. Closing this.

[2019-07-07 18:32] #182 closed, assigned to nobody

[2019-07-07 20:00] #187 closed, assigned to ighosh98, unlaxedneurotic

[2019-07-07 20:09] ighosh98 opened #190 "Enable Guest Commenting on Disqus"
- [x] Guest commenting isn't allowed as of now. Also, test if you can choose which comments are displayed and which are not in the backend.
- [x] Add a comment on all the necessary documentation related to discuss on the issue.

[2019-07-07 21:39] ighosh98 opened #192 "Restore animations"
- [x] Animation for post_detail
- [x]  Hyperlink should not change color on visiting.
- [x] Infinite scroll on post list

[2019-07-07 21:40] ighosh98 commented on #192
@HimanshuAgarwal022 make the post_list adaptable to infinite scrolling. Ensure that the post structure is preserved. Work on the branch Animation.

[2019-07-07 21:41] ighosh98 commented on #181
Duplicate issue #192 exists

[2019-07-07 21:41] #181 closed, assigned to nobody

[2019-07-08 07:19] ighosh98 opened #193 "Frontend Issues"
- [x] Decrease the opacity of the background image of **About Us** section till only the text looks highlighted
- [x]  Search for an alternate background image.
- [x] Change the font of the subsciber section to proxima nova. Make the submit text to Uppercase
- [x] Add a light background to the entire page. (A very light one)
- [x] Make the column which lists the information about writer etc. on Po

[2019-07-08 07:20] ighosh98 commented on #193
I'll share the background image. Work on the rest please @HimanshuAgarwal022.

[2019-07-08 09:11] abhishekspeer opened #194 "Complete Subscribe and Contributor Page"
- [x]  Add a coment to subscribe page telling users what services they would get if they subscribe.
- [x]  Add the details in the contributors page and complete it.

[2019-07-09 08:59] ighosh98 opened #195 "Post sharing to quora"
Can't be implemented as Quora does not support  such a feature

[2019-07-10 07:50] ighosh98 commented on #192
Never mind. Solved in #191.

[2019-07-10 07:52] #192 closed, assigned to ighosh98

[2019-07-10 07:53] ighosh98 commented on #194
Fixed by #191.

[2019-07-10 07:53] #194 closed, assigned to ighosh98, Ak-shay

[2019-07-10 07:59] ighosh98 commented on #190
This must be done by using disqus admin access.
Refer this to finish the issue:https://woorkup.com/disqus-anonymous-comments/

[2019-07-10 07:59] #190 closed, assigned to HimanshuAgarwal022

[2019-07-10 09:03] Ak-shay opened #199 "Remove unnecessary links and scripts."
All external css and js links should be on required pages only.
Not in base.html
Use a custom tag to import it.

[2019-07-10 17:01] Ak-shay commented on #83
- [ ] Title of every page should be descriptive and short.
Here are some best practices you should follow for creating titles on pages:
- Each page should have a unique title.
- If practical, try to include your Primary Keyword Phrase in every title of every page.
- Begin the title of your home page with your Primary Keyword Phrase, followed by your best Secondary Keyword Phrases.
- Use more speci

[2019-07-10 18:04] ighosh98 commented on #83
Please check how many points we have violated so far in our design.

[2019-07-10 18:04] ighosh98 commented on #199
Is this done? @Ak-shay

[2019-07-12 13:35] #174 closed, assigned to Ak-shay

[2019-07-12 13:43] Ak-shay commented on #199
Yes

[2019-07-12 13:43] #199 closed, assigned to Ak-shay

[2019-07-13 04:00] #195 closed, assigned to nobody

[2019-07-16 19:04] ighosh98 opened #200 "Mass mailing"
Add Sendgrid

[2019-07-17 03:12] ighosh98 opened #201 "Add Disclaimer"
Find a suitable location on the website(Footer maybe?) to add the following disclaimer:
**Note: For format and other details refer to the following link: http://www.freelunch.co.in/disclaimer-freelunch**
**Disclaimer**
BITS ACADEMIC PERIODICAL SOCIETY (henceforth referred to as the Organisation) provides the ‘freelunch.co.in’ web site as a service to the public and web site owners.

The Organisati

[2019-07-20 03:55] ighosh98 commented on #200
Reference: https://github.com/Ak-shay/sendgrid-django

[2019-07-20 20:11] #201 closed, assigned to unlaxedneurotic

[2019-07-21 15:14] ighosh98 commented on #200
@Ak-shay is this done? If yes. Send the PR and close this issue.

[2019-07-23 03:55] #193 closed, assigned to Ak-shay, unlaxedneurotic

[2019-07-23 06:44] Ak-shay opened #202 "hovering social links of contributors"
# Footer
Logo of facebook turn green on hovering whereas other logo (github and linkedin) turns grey.

[2019-07-23 06:45] Ak-shay commented on #202
Same issue in profile page view.

[2019-07-27 08:26] unlaxedneurotic commented on #202
I could not reproduce the issue. Is it only happening in a certain branch or browser? @Ak-shay

![Screenshot (85)](https://user-images.githubusercontent.com/47986362/61992020-38f94300-b076-11e9-9fcf-2fb8697e6583.png)
![Screenshot (84)](https://user-images.githubusercontent.com/47986362/61992023-3e568d80-b076-11e9-9823-c105bfefec7a.png)

[2019-07-27 15:16] Ak-shay commented on #202
It is on profile of user.
Hover  on user links

[2019-07-28 18:37] Ak-shay commented on #63
All db is available to admin only.

[2019-07-28 18:38] Ak-shay commented on #62
@UnlaxedNeurotic
You should start this.

[2019-07-28 18:39] Ak-shay commented on #28
We can write tests now as Site is up.

[2019-07-28 18:40] Ak-shay commented on #166
@ighosh98

[2019-07-29 08:38] ighosh98 commented on #166
Don't think we need this at the moment. Closing it for now

[2019-07-29 08:38] #166 closed, assigned to ighosh98

[2019-08-08 06:49] ighosh98 commented on #202
Is this fixed? @Ak-shay @UnlaxedNeurotic

[2019-08-08 06:50] ighosh98 commented on #200
Closing this as #203 may be added with everything being implemented in the PR

[2019-08-08 06:50] #200 closed, assigned to Ak-shay

[2019-08-08 06:51] #102 closed, assigned to ighosh98, unlaxedneurotic

[2019-08-08 06:52] ighosh98 opened #204 "Website Migration"
Migrate the content from the old website to the new website. If this issue is completed, we are good to go. We can host this as the primary website instead of the old one.

[2019-08-08 08:09] unlaxedneurotic commented on #202
I still can't reproduce the issue, except on the hosted website. The master branch does not has this issue. @ighosh98

[2019-11-02 06:49] ighosh98 opened #207 "Script to load docx or pdf files to the Backend in a proper formatted manner"
Write a script to automate the process of reading the text file and adding it as a draft to the backend where the admin can make edits and post stuff.

[2020-01-31 03:17] #202 closed, assigned to unlaxedneurotic

[2020-01-31 03:19] ighosh98 opened #209 "Improve Text editor"
Create a text editor similar to that in WordPress at the backend for uploading and formatting articles.

[2020-06-07 19:54] #207 closed, assigned to nobody

[2020-06-07 19:55] #105 closed, assigned to ighosh98

[2020-06-07 19:55] #63 closed, assigned to ighosh98, abhishekspeer, Ak-shay

[2020-06-07 19:56] #83 closed, assigned to nobody

[2020-06-07 19:57] #129 closed, assigned to ighosh98

[2020-06-07 19:57] #62 closed, assigned to nobody

[2020-06-07 19:58] #28 closed, assigned to ighosh98, Ak-shay

[2020-06-07 19:58] #43 closed, assigned to ighosh98, Ak-shay

[2020-06-07 19:58] #178 closed, assigned to ighosh98

[2020-06-07 19:58] #149 closed, assigned to ighosh98